/* style.css */
.custom-background {
    background-image: url('images/b') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; 

.header-custom {
    background-color: #333;
    padding: 20px 0;
}

.footer-container{
    background-color: #333 !important;
    color: #fff !important;
    padding: 20px 0;
}

.hero-custom {
    background-image: url('images/soccer-hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-custom h1 {
    font-size: 4rem;
}

.hero-custom p {
    font-size: 1.5rem;
}


.social-media {
    display: flex;
    justify-content: center; 
}

.social-media a {
    margin-right: 10px; 
}

.social-media a:last-child {
    margin-right: 0; 
}

/* Style contact information */
.contact-info {
    color: #007bff; 
}}